.navBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-area: "welcome name detail";
}

.name {
    display: flex;
    justify-content: space-evenly;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
}

.detail {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-right: 4rem;
}